---
BasedOnStyle: WebKit
---
AccessModifierOffset: 8
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: false
AlignEscapedNewlines: Left
AlignOperands: false
AlignTrailingComments: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: TopLevelDefinitions
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: MultiLine
BinPackArguments: true
BinPackParameters: true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: WebKit
BreakBeforeTernaryOperators: false
BreakStringLiterals: false
ColumnLimit: 80
CompactNamespaces: true
UseTab: Always
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
DerivePointerAlignment: false
DisableFormat: false
IncludeBlocks: Regroup
IndentCaseLabels: false
IndentPPDirectives: None
IndentWidth: 8
KeepEmptyLinesAtTheStartOfBlocks: true
Language: Cpp
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
PenaltyBreakBeforeFirstCallParameter: 1000
PenaltyBreakComment: 10
PointerAlignment: Right
ReflowComments: false
SortIncludes: true
SpaceAfterCStyleCast: false
TabWidth: 8

IncludeCategories:
  - Regex: '^<sys.*/'
    Priority: 1
    SortPriority: 10
  - Regex: '^<stdio\.h|stdlib\.h|unistd\.h>'
    Priority: 2
    SortPriority: 20
  - Regex: '^<[^/]+\.h>'
    Priority: 2
    SortPriority: 21
  - Regex: '^<X11/Xlib\.h>'
    Priority: 3
    SortPriority: 30
  - Regex: '^<X11/.*'
    Priority: 3
    SortPriority: 31
  - Regex: '^\".*\.h\"'
    Priority: 4
    SortPriority: 40
...
